{% extends 'base.html' %}
{% load staticfiles %}

{% block content %}
<div class='content'>
	<div class='row'>
		<div class='col-md-12 main'>
			<img class='logo img-responsive' src="{% static 'img/logo.jpeg' %}" />
			<h4>invites you to</h4>
			<h1>A Django Workshop for Beginners</h1>
			<h3>Venue TBA | Sat April 18, 2015</h3>
			<button onclick="location.href='#'" class='btn btn-success join-btn'>Join!</button>
		</div>
	</div><!--row-->
	<hr />
	<div class='row info'>
		<div class='col-md-4'>
			<h3>What is it?</h3>
			<p>It's a one-day workshop about the Django web framework using Python. It includes a lecture with coaches that will guide you in making your own web application- a personal blog!
		</div>
		<div class='col-md-4'>
			<h3>Who is it for?</h3>
			<p>Although beginners in Python are welcome to join PyLadies, this workship requires basic knowledge in programming (i.e. if statements, for loops). Try <a href='#'><b>this</b></a>! It's not required to answer, but you can win a prize!</p>
		</div>
		<div class='col-md-4'>
			<h3>Who are we?</h3>
			<p>PyLadies Manila is a group of women developers based in Manila who love the Python programming language. Anyone who is interested in Python is encouraged to participate!</p>
		</div>
	</div>
	<hr />
	<div class='row'>
		<div class='col-md-12'>
			<h3>Join PyLadies and get news on future meetups!</h3>
			<a href='#'><img class='social' src='{% static 'img/facebook.png' %}'></a>
			<a href='#'><img class='social' src='{% static 'img/twitter.png' %}'></a>
			<a href='#'><img class='social' src='{% static 'img/meetup.png' %}'></a>
		</div>
	<div>
</div>
{% endblock %}