{% extends 'base.html' %}

{% load staticfiles %}

{% block content %}
<div class='content'>
	<div class='row'>
		<div class='col-md-12 main'>
			<img class='logo img-responsive' src="{% static 'img/logo.jpeg' %}" />
			<h4>invites you to</h4>
			<h1>A Django Workshop for Beginners</h1>
			<h3>Venue TBA | Sat May 16, 2015</h3>

			<button class='btn join-btn' onclick="location.href='https://docs.google.com/forms/d/1C4I2a_3xRG8HmdPbvkZ_noEmbpzSEJeqfRFy91IbqUw/viewform'">Join as a Learner</button>
			<button class='btn join-btn' onclick="location.href='https://docs.google.com/forms/d/1eYRlTx-5ZKruwzQRSlZVG-_cZzsZn3nzd1-YsChm2PU/viewform'">Register as a Coach</button>
			<br />
		</div>
	</div><!--row-->
	<hr />
	<div class='row info'>
		<div class='col-md-4'>
			<h3>What is it?</h3>
			<p>It's a one-day workshop about the Django web framework using Python. It includes a lecture with coaches that will guide you in making your own web application- a personal blog!
		</div>
		<div class='col-md-4'>
			<h3>Who is it for?</h3>
			<p>Although beginners in Python are welcome to join PyLadies, this workship requires basic knowledge in programming (i.e. if statements, for loops).</p>
		</div>
		<div class='col-md-4'>
			<h3>Who are we?</h3>
			<p>PyLadies Manila is a group of women developers based in Manila who love the Python programming language. Anyone who is interested in Python is encouraged to participate!</p>
		</div>
	</div>
	<hr />
	<div class='row'>
		<div class='col-md-12'>
			<h3>Join PyLadies and get news on future meetups!</h3>
			<a href='https://www.facebook.com/groups/pyladiesmanila/'><img class='social' src='{% static 'img/facebook.png' %}'></a>
			<a href='https://twitter.com/PyLadiesManila'><img class='social' src='{% static 'img/twitter.png' %}'></a>
			<!--<a href='#'><img class='social' src='{% static 'img/meetup.png' %}'></a>-->
		</div>
	<div>
</div>
{% endblock %}