body {
	font-family: 'Raleway', sans-serif;
	text-align: center;
}
.logo {
	max-width: auto;
	max-height: 100px;
	display:inline;
	margin-left: 10px;
	margin-right: 10px;
	margin-bottom: 40px;
	margin-top: 40px;
}
.main {
	margin-left: auto;
	margin-right: auto;
}
.join-btn {
	margin-top: 20px;
	font-weight: bold;
	font-size: large;
	margin-bottom: 10px;
	background-color: #44e6c2;
}
.join-btn:hover {
	background-color: #1ddab0;
}
.info {
	//margin-top: 5%;
}
.row div p {
	padding-left: 40px;
	padding-right: 40px;
	text-align: justify;
}
.social {
	height: 40px;
	width: 40px;
}