{% load staticfiles %}

<html>
	<head>
		<!-- Bootstrap -->
		<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.2/css/bootstrap.min.css">
		<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.2/css/bootstrap-theme.min.css">

		<!-- Font -->
		<link href='http://fonts.googleapis.com/css?family=Raleway' rel='stylesheet' type='text/css'>

		<!-- Custom -->
		<link rel="stylesheet" href="{% static 'css/style.css' %}">
	</head>
	<body>

		{% block content %}
		{% endblock %}
		
	</body>
</html>